$primary: "grey";
$accent: "purple";
$warn: "pink";

@import 'ember-paper';
h1 {
  font-size: 24px;

  color: rgba(0, 0, 0, 0.9);
}

h3 {
  font-size: 20px;

  color: rgba(0, 0, 0, 0.9);
}
p {
  font-size: 14px;

  color: rgba(0, 0, 0, 0.6);
}

.accentHeading {
  color:  purple !important;
}

.container {
  margin-left: 75px;
  margin-right: 75px;
}
.green {
  color: green;
}
.red {
  color:red;
}

.card {
  background-color: rgba(0, 0, 0, 0.04);
  padding: 20px;
  min-height: 240px;
  margin-bottom: 10px;

  border: 1px solid rgba(0, 0, 0, 0.12);
}
.small {
  margin-left: -75px;
}

footer {
  text-align: center;
  padding: 25px;
}