$primary: "purple";
$accent: "purple";
$warn: "pink";

@import 'ember-paper';
h1 {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.9);
  line-height: 50%;
}

h3 {
  font-size: 20px;
  line-height: 50%;
  color: rgba(0, 0, 0, 0.9);
}

p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
  line-height: 50%;
}

.green {
  color: green;
}

.red {
  color:red;
}

.accentHeading {
  color:  purple;
}

html {
  margin-left: 5%;
  margin-right: 5%;
}
.logo {
  width: 188px;
  height: 56px;
  margin-left: -17px;
}

.card {
  background-color: rgba(0, 0, 0, 0.04);
  padding: 15px;
  min-height: 247px;
  margin-bottom: 25px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.small {
  margin-left: 25px;
}

footer {
  text-align: center;
  padding: 15px;
}

.user{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: 10px;
}
.userSmallMenu{
  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: 0px;
}
.smallMenu {
  display: none;
  margin-right: -43px;
}

.bigMenu {
  display: block;
  margin-right: -32px;
}

.darkMode {
  background-color: #2c2c2c;
  color: rgba(255, 255, 255, 0.9);
  h1 {
    color: rgba(255, 255, 255, 0.9);
    line-height: 75%;
  }
  h3 {
    color: rgba(255, 255, 255, 0.9);
  }
  p {
    color: rgba(255, 255, 255, 0.6);
  }
  .card {
    background-color: #3F3F3F;
  }
  
  md-icon.md-default-theme {
    color: rgba(255, 255, 255, 0.6);
  }
  
  .green {
    color: green;
  }

  .red {
    color:red;
  }

  .accentHeading {
    color:  purple;
  }
}
@media (max-width: 599px) {
  .small {
    margin-left: 0px;
  }
}
@media (max-width: 770px) {
  .bigMenu {
    display: none;
  } 
  .smallMenu {
    display: block;
  }
  .user {
    margin-top: 0px;
  }
}