$primary: "purple";
$accent: "purple";
$warn: "pink";

@import 'ember-paper';
h1 {
  font-size: 24px;
  color: rgba(0, 0, 0, 0.9);
}

h3 {
  font-size: 20px;
  color: rgba(0, 0, 0, 0.9);
}
p {
  font-size: 14px;
  color: rgba(0, 0, 0, 0.6);
}

.green {
  color: green;
}

.red {
  color:red;
}

.accentHeading {
  color:  purple !important;
}

// .container {
//   margin-left: 50px;
//   margin-right: 50px;
// }
html {
  margin-left: 50px;
  margin-right: 50px;
}
.darkMode {
  background-color: #2c2c2c;
  color: rgba(255, 255, 255, 0.9);
  h1 {
    color: rgba(255, 255, 255, 0.9);
  }
  h3 {
    color: rgba(255, 255, 255, 0.9);
  }
  p {
    color: rgba(255, 255, 255, 0.6);
  }
  .card {
    background-color: #3F3F3F;
  }
  
  md-icon.md-default-theme {
    color: rgba(255, 255, 255, 0.6);
  }
  
  .green {
    color: green;
  }

  .red {
    color:red;
  }
}

.card {
  background-color: rgba(0, 0, 0, 0.04);
  padding: 20px;
  padding-top: 0px;
  min-height: 240px;
  margin-bottom: 25px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.small {
  margin-left: 25px;
}

footer {
  text-align: center;
  padding: 15px;
}