$primary: "purple";
$accent: "purple";
$warn: "pink";

@import 'ember-paper';
:root {
  --bar-trail-color: #BBEEE9;
  --bar-color: #03DAC5;
  --accent-color: purple;
  --light-black-theme: rgba(255, 255, 255, 0.6);
  --bold-black-theme: rgba(255, 255, 255, 0.9);
  --light-white-theme: rgba(0, 0, 0, 0.6);
  --bold-white-theme: rgba(0, 0, 0, 0.9);
  --background-dark-theme: #212121;
}

h1 {
  font-size: 24px;
  color: var(--bold-white-theme);
  line-height: 50%;
}

h3 {
  font-size: 20px;
  line-height: 50%;
  color: var(--bold-white-theme);
}

h4 {
  font-size: 20px;
  line-height: 50%;
  color: var(--bold-white-theme);
}

p {
  font-size: 14px;
  color: var(--light-white-theme);
  line-height: 50%;
}
.lighter {
  font-weight: lighter;
}
.bolder {
  font-weight: bold;
}

.green {
  color: green;
}

.red {
  color: red;
}

.accentHeading {
  color:  var(--accent-color);
}

html {
  margin-left: 5%;
  margin-right: 5%;
}
.logo {
  width: 188px;
  height: 56px;
  margin-left: -17px;
}

.card {
  background-color: rgba(0, 0, 0, 0.04);
  padding: 15px;
  min-height: 247px;
  margin-bottom: 25px;
  border: 1px solid rgba(0, 0, 0, 0.12);
}
.small {
  margin-left: 25px;
}
.click-here {
  fill: black;
  width: 100px;
  position: fixed;
  bottom: 8px;
	right: 75px;
}

footer {
  text-align: center;
  padding: 15px;
}

.user{
  object-fit: cover;
  object-position: 50% 0;

  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: 10px;
}

.big {
  width: 200px;
  height: 200px;
  margin-right: 25px;
  transition: filter 0.5s;
}

.big:hover {
  filter: blur(8px);
  -webkit-filter: blur(8px);
}

.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px 0;

  transition: visibility 0.5s, opacity 0.5s; 
  visibility: hidden; 
  opacity: 0;
  
  /* Position the tooltip */
  position: absolute;
  z-index: 1;
  top: 100px;
  left: 50px;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}

.userSmallMenu{
  object-fit: cover;
  object-position: 50% 0;

  border-radius: 50%;
  width: 40px;
  height: 40px;
  margin-top: 0px;
}
.smallMenu {
  display: none;
  margin-right: -43px;
}

.bigMenu {
  display: block;
  margin-right: -32px;
}

.float{
	position:fixed;
	width:40px;
	height:40px;
	bottom:40px;
	right:40px;
}

/* width */
::-webkit-scrollbar {
  width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
  background: #afafaf;
}

/* Handle */
::-webkit-scrollbar-thumb {
  background: #555;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  background: var(--accent-color);
}

.darkMode {
  background-color: var(--background-dark-theme);
  color: var(--bold-black-theme);
  md-dialog {
    background-color: var(--background-dark-theme);
  }
  .click-here {
    fill: white;
  }
  placeholder {
    color: var(--light-black-theme);
  }
  .pcr-app {
    background-color: var(--background-dark-theme);
  }
  .pcr-app .pcr-interaction .pcr-result {
    background-color: #4a4a4a;
    color: var(--light-black-theme);
  }
  label, md-input-selected {
    color: var(--light-black-theme);
  }
  md-input-container label.md-required {
    color: var(--light-black-theme);
  }
  .ember-power-select-placeholder, .ember-power-select-selected-item {
    color: var(--light-black-theme);
  }

  md-input-container:not(.md-input-focused):not(.md-input-invalid) label.md-required:after {
    color: var(--light-black-theme);
  }
  md-menu-content {
    background-color: var(--background-dark-theme);
  }
  md-select-menu md-content {
    color: var(--light-black-theme);
    background-color: var(--background-dark-theme);
  }
  md-option .md-text {
    color: var(--light-black-theme);
  }
  h1 {
    color: var(--bold-black-theme);
  }
  h3 {
    color: var(--bold-black-theme);
  }
  h4 {
    color: var(--bold-black-theme);
  }
  p {
    color: var(--light-black-theme);
  }
  .card {
    background-color: #2b2b2b;
  }
  
  md-icon.md-default-theme {
    color: var(--light-black-theme);
  }
  a {
    color: var(--bold-black-theme);
  }
  
  .md-input-container md-has-value{
    color: var(--bold-black-theme);
  }
  .md-input-container .hint {
    color: var(--bold-black-theme);
  }
  .md-input ng-invalid{
    color: var(--bold-black-theme);
  }
  .md-input {
    color: var(--bold-black-theme);
  }
  .md-default-theme {
    color: var(--bold-black-theme);
  }

  .green {
    color: green;
  }

  .red {
    color:red;
  }

  .accentHeading {
    color:  var(--accent-color);
  }
  paper-button {
    color: var(--bold-black-theme);
  }

}
@media (max-width: 599px) {
  .small {
    margin-left: 0px;
  }
  .float {
    width:30px;
    height:30px;
    bottom:25px;
    right:25px;
  }
  .click-here {
    width: 75px;
  }

}
@media (max-width: 800px) {
  .bigMenu {
    display: none;
  } 
  .smallMenu {
    display: block;
  }
  .user {
    margin-top: 0px;
  }
}
@media (max-width: 1300px) {
  .puff {
    display: none;
  }
}
