<body>
  <div class="layout-row layout-xs-column">

    <div class="flex">
      <a href="overview">
        <img src= {{if darkMode "assets/images/logo-white.png" "assets/images/logo-black.png"}} alt="theme" width="188px" height="56px">
      </a>
    </div>

    <div class="flex">
      <div class="layout-row layout-align-end-center">
        {{#current-route-button route="overview"}}Overview{{/current-route-button}}
        {{#current-route-button route="incomes"}}Incomes{{/current-route-button}}
        {{#current-route-button route="expenses"}}Expenses{{/current-route-button}}
        {{#current-route-button route="settings"}}Settings{{/current-route-button}}
      </div>
    </div>

  </div>
  {{outlet}}
</body>

<footer>
  
  {{#if darkMode}}
    <p>are Darkmode</p>
  {{else}}
    <p>n-are Darkmode</p>
  {{/if}}

  <p>Designed by <b class="accentHeading">@Alex</b></p>
</footer>