<body>
  <div class="layout-row layout-xs-column">

    <div class="flex">
      <a href="overview">
        {{#unless currentUser.darkMode}}
          <img src="assets/images/logo-black.png" alt="black-theme" width="188px" height="56px">
        {{else}}
          <img src="assets/images/logo-white.png" alt="white-theme" width="188px" height="56px">
        {{/unless}}
      </a>
    </div>

    <div class="flex">
      <div class="layout-row layout-align-end-center">
        {{#current-route-button route="overview"}}Overview{{/current-route-button}}
        {{#current-route-button route="incomes"}}Incomes{{/current-route-button}}
        {{#current-route-button route="expenses"}}Expenses{{/current-route-button}}
        {{#current-route-button route="settings"}}Settings{{/current-route-button}}
      </div>
    </div>

  </div>
  {{outlet}}
</body>

<footer>
  <p>Designed by <b class="accentHeading">@Alex</b></p>
</footer>