<div class="layout-row layout-xs-column">
  <div class="flex container">
    <h1>Settings</h1>
    <p>with great power comes great responsibility</p>
  </div>
</div>

<div class="layout-row layout-xs-column">
  <div class="flex container">

    <div class="card">
      <h3>Theme</h3>

      {{#paper-item}}
        {{paper-icon "brightness-2"}}
        <p>Darkmode</p>
        <div class="md-secondary-container">
          {{#paper-switch value=selectedUser.darkMode onChange=(action (mut selectedUser.darkMode))}}{{/paper-switch}}
        </div>
      {{/paper-item}}

      {{#paper-item}}
        {{paper-icon "call-split"}}
        <p>Red flag value</p>
        <div class="flex layout layout-align-center-center slider-container">
          <p>V</p>
          {{paper-slider class="flex" min=0 max=5000 value=selectedUser.danger onChange=(action (mut selectedUser.danger))}}
          {{paper-input type="number" value=selectedUser.danger onChange=(action (mut selectedUser.danger))}}   
        </div>
      {{/paper-item}}
      <div align="right">
        {{#paper-button raised=true primary=true onClick=(action "submit")}}Rember{{/paper-button}}
      </div>

    </div>
  </div>
</div>